# bash
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'

# docker
alias dboot='bash --login "/Applications/Docker/Docker Quickstart Terminal.app/Contents/Resources/Scripts/start.sh"'
alias dc='docker-compose'
alias dcu='dc up'
alias dcr='dc run'
alias dcp='dc ps'
alias dbld='docker build -t'

# git
alias g!='git init'
alias gclo='git clone'
alias gst='git status'
alias gb='git branch'
alias gba='gb --all'
alias gco='git checkout'
alias gco!='gco --branch'
alias gd='git diff'
alias gds='gd --staged'
alias ga='git add'
alias ga!='ga --all'
alias gap='ga --patch'
alias gap!='ga --intent-to-add . && ga --patch'
alias gmv='git mv'
alias grm='git remove'
alias gcln='git clearn'
alias gcln!='gcln --force'
alias gclni='gcln --interactive'
alias gc='git commit'
alias gcv='gc --verbose'
alias gcm='gc --message'
alias gca='gc --amend'
alias gca!='gc --amend -CHEAD'
alias gm='git merge'
alias gm!='gm --no-ff'
alias gp='git push'
alias gp!='gp --force'
alias gpl='git pull'
alias gpl!='gpl --rebase'
alias gr='git rebase'
alias gri='gr --interactive'
alias grc='gr --continue'
alias gra='gr --abort'
alias glo='git log --graph --pretty="%Cgreen%h%Cblue%d%Cred% aN%Creset% s"'

# tmux
alias tmn='tmux new -s'
alias tml='tmux ls'
alias tma='tmux attach -t'
