# bash
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'

# docker
alias dc='docker-compose'
alias dcu='dc-compose up'
alias dcr='dc-compose run'
alias dcp='dc-compose ps'
alias db='docker build -t'

# git
alias gst='git status'
alias gb='git branch'
alias gba='git branch --all'
alias gco='git checkout'
alias gco!='git checkout -b'
alias gd='git diff'
alias gds='git diff --staged'
alias ga!='git add --all'
alias gap='git add --patch'
alias gap!='git add --intent-to-add . && git add --patch'
alias gc='git commit'
alias gcm='git commit --message'
alias gca='git commit --amend'
alias gca!='git commit --amend -CHEAD'
alias gm='git merge'
alias gm!='git merge --no-ff'
alias gp='git push'
alias gp!='git push --force'
alias gpl='git pull'
alias gpl!='git pull --rebase'
alias gri='git rebase --interactive'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias glo='git log --graph --pretty="%Cgreen%h%Cblue%d%Cred% aN%Creset% s"'

# tmux
alias tmn='tmux new -s'
alias tml='tmux ls'
alias tma='tmux attach -t'
