*.swp
!source/.bats/.keep
source/.bats/*
source/.vim/pack/core/start
!source/.vim/pack/core/start/.keep
source/.vim/pack/core/opt
!source/.vim/pack/core/opt/.keep
source/.vim/undo
!source/.vim/undo/.keep
